<section class="ss-icon">
	<a href="#"><article><span class="front">draw</span><span class="back">'ENTER'</span></article></a>
	<a href="#"><article><span class="front">menu</span><span class="back">:hover + 'm'</span></article></a>
	<a href="#"><article><span class="front">add circle</span><span class="back">:hover + '+'</span></article></a>
	<a href="#"><article><span class="front">clear circle</span><span class="back">:hover + '-'</span></article></a>
	<a href="#"><article><span class="front">move playhead</span><span class="back">:hover + 'up'/'down'</span></article></a>
	<a href="#"><article><span class="front">stop / play</span><span class="back">(:hover) + 'SPACE'</span></article></a>
	<a href="#"><article><span class="front">reverse play</span><span class="back">:hover + 'r'</span></article></a>
	<a href="#"><article><span class="front">speed up / down</span><span class="back">(:hover) + 'a'/'z'</span></article></a>
	<a href="#"><article><span class="front">geo beats [:GB]</span><span class="back">:hover + 'SHIFT'</span></article></a>
	<a href="#"><article><span class="front">switch [:GB]</span><span class="back">[:GB] + 'left'/'right'</span></article></a>
	<a href="#"><article><span class="front">add division [:GB]</span><span class="back">[:GB] + '2'/'3'/'4'</span></article></a>
	<a href="#"><article><span class="front">sync metaBall</span><span class="back">:hover + 'b'</span></article></a>
	<a href="#"><article><span class="front">zoom in / out</span><span class="back">:hover + 'CTRL'</span></article></a>
</section>