<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="paper/dist/paper-full.js"></script>
    <script type="text/paperscript" src="index.js" canvas="canvas"></script>
    <!-- <script type="text/paperscript" src="custom/test.js" canvas="canvas"></script> -->
	@{import('light-theme.css')}
	@{favicon('myFavicon.ico')}
</head>
<body>
<!--     <a href="#" onclick="MODE = 1;">Free</a></br>
    <a href="#" onclick="MODE = 0;">Default</a> -->
	<canvas id="canvas" resize stats hidpi="off"></canvas>
	@{body}
</body>
</html>
